<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/insert.css">
</head>
<body>
    <div class="title-bar">

        <div class="title">movables</div>
    </div>
   
    <form action="" method="post" enctype="multipart/form-data">
        
        <input type="file" name="userfile">
        <input type="submit">
        
            <div class="title2">
                <label for="">제목</label>
            </div>
            <div class="insert-title">        
                <input type="text" name="title">
            </div>
        <br>
    
        <div class="content2">
            <label for="">내용</label>
        </div>

        <div class ="insert-content">
            <textarea type="text" name="content"></textarea>
        </div>
        <br>
        <div class="btn">
            <button>등록</button>
        </div>
    </form>

</body>
</html>