<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인페이지</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="title-bar">
    
    <div class="title">movables</div>
</div>
<div>bb</div>
<div class="login-input">
    <form action="" method="post">
        <div class="id-pwd">
            <div>
            
                <label for="">ID</label><br>
                <input type="text" name="user_id">
            
            <div>
                <label for="">PASSWORD</label><br>
                <input type="text" name="user_pwd">
            </div>
                

                <button class="login-btn">로그인</button>
            </div>
            
        </div>
    </form>
</div>
<div class="signup">
    <a href="/signup">Create an account</a>
</div>
    <div class="tree">
</div>

</body>
</html>