.App {
  text-align: center;
  border-collapse: collapse;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.month {
  color: orange;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  font-size: xx-large;
}
.week{
  display: flex;
  width: 490px;
  border: 1px solid black;
  justify-content: space-around;
  border-collapse:collapse;
  box-sizing: border-box;


}
.mon{
  color: red;
}

.day{
  width: 70px;
  height: 30px;
  border: 1px solid black;
  border-collapse:collapse;
  box-sizing: border-box;
  margin:0;
  padding: 0;
  
  
}
.ribon{
  width: 69px;
  height: 10px;
  /* background-color: orange; */
  border-collapse:collapse;

}
.daynum{
  border-collapse: collapse;
  border: none;
}
.trr{
  display: flex;
}
.footer{
  width: 490px;
  height: 50px;
  border:  1px solid black;
  line-height: 50px;
}
/* .daynum{
  width: 100px;
  height: 30px;
  border:1px solid red;
} */

.seven.active{
  display: block;
}
.seven{
  /* display: none; */
}
.holiday.active{
  margin: 0 auto;
  display: block;
}
.holiday{
  display: none;
}
.aaa{
}
.tr{
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}
.orange {
  background-color: orange;
}
.red {
  color: red;
}
.black {
  color : black;
}