<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>메인 페이지</h2>
    <a href="/posts/insert">추가 페이지</a>
    <table>

    <tr>
        <th>글번호</th>
        <th> 제목</th>
        <th> 컨텐츠</th>
        <th> 수정</th>
        <th> 삭제</th>
    </tr>
    <% data.forEach((el,index) => { %>
        <tr>
            <td><%= el.id %></td>
            <td> <a href="/posts/detail/<%= el.id %>"> <%= el.title %> </a></td>
            <td><%= el.content %></td>
            <td>수정</td>
            <td>삭제</td>
        
            
        </tr>
        <% }); %>

    </table>
    
</body>
</html>